@model IEnumerable<Instructor>


    <!-- Our Agent Section-->
    <section id="aa-agents">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-agents-area">
                        <div class="aa-title">
                            <h2>Instructor</h2>
                            <span></span>
                        </div>
                        <!-- agents content -->
                        <div class="aa-agents-content">
                            <ul class="aa-agents-slider">
                                @foreach (var item in Model)
                                {
                                <li>
                                    <div class="aa-single-agents">
                                        <div class="aa-agents-img">
                                            <img src=@Url.Content("~/img/agents/" + item.InstructorImg) asp-append-version="true" />
                                        </div>
                                        <div class="aa-agetns-info">
                                            <h4>@item.InstructorName</h4>
                                            <span>Top Agent</span>
                                            <div class="aa-agent-social">
                                                <a href="#"><i class="fa fa-facebook">@item.FB</i></a>
                                                <a href="#"><i class="fa fa-twitter">@item.TW</i></a>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                }


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Our Agent Section-->
