
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenSooq</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

</head>
<body>

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-4">
            <div class="col-lg-3 d-none d-lg-block">
                <a asp-action="Index" asp-controller="Home" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">OpenSooq</span></h1>
                </a>
            </div>

            @await Component.InvokeAsync("Menu")
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                <div class="dropdown-menu rounded-0 m-0">
                    @await Component.InvokeAsync("CategoryList")
                </div>
            </div>
          
          
            <div class="navbar-nav ml-auto py-0">
                <a asp-action="Login" asp-controller="Account" class="nav-item nav-link">Login</a>
            </div>
            <a asp-action="Register" asp-controller="Account" class="nav-item nav-link">Register</a>
        </div>

        </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            
            <div class="col-lg-9">

                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a asp-action="Index" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">OpenSooq</span></h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">

                            
                        </div>

                       
                    </div>
                </nav>
                
            </div>
            </div>
        </div>
        <!-- Navbar End -->


        <div class="container-fluid mb-5">@RenderBody()</div>

        <!-- Footer Start -->
        <div class="container-fluid bg-secondary text-dark mt-5 ">
            <div class="row border-top border-light mx-xl-5 py-4">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-dark">
                        &copy; <a class="text-dark font-weight-semi-bold" asp-action="Index">OpenSooq</a>. All Rights Reserved. Designed by
                        <a class="text-dark font-weight-semi-bold" href="https://www.linkedin.com/in/mohammad-kh-76bb47182/ ">Mohammad Khashashneh</a>
                    </p>
                </div>

            </div>
        </div>
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/easing/easing.min.js"></script>
        <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="~/mail/jqBootstrapValidation.min.js"></script>
        <script src="~/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="~/js/main.js"></script>
</body>

</html>