@{
    ViewData["Title"] = "ProductsShop";
}

@model IEnumerable<ProductShop>
<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Products Shop</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <a asp-route-id="@item.ProductShopId" asp-action="ProductShopDetails">
                            <img class="img-fluidb w-100" src=@Url.Content("~/newImg/" +item.ProductImg) asp-append-version="true">
                        </a>
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">@item.ProductName</h6>
                        <div class="d-flex justify-content-center">
                            <h6>@item.Price</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a asp-route-id="@item.ProductShopId" asp-action="ProductShopDetails" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->